<html>      
    <head>
        <meta charset="utf-8">
        <title>Secret Messages</title>
    </head>
    <body>
        <p id="message"></p>
        <button type="button" id="get_updates">Get Updates</button>

        <br><br>
        <input type="text" id="input_message">
        <button type="button" id="send_update">Send Update</button>

        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">    
        </script>

        <script type="text/javascript">
            $("#get_updates").click(()=>{
                $.ajax({
                    type: "GET",
                    url: "/get_messages",
                    success:(msg)=>{
                        $("#message").text(msg)
                    },
                    error: (msg)=>{
                        console.log(msg)
                    }
                })
            })

            $("#send_update").click(()=>{
                $.ajax({
                    type: "POST",
                    url: "/set_message",
                    data: {"msg" : $("#input_message").val()},
                    success: (data)=>{
                        console.log(data)
                    }
                })
            });
        </script>
    </body>
</html>